{
  "extends": ["eslint-config-unjs"],
  "rules": {
    "unicorn/no-array-reduce": 0,
    "unicorn/prefer-object-from-entries": 0,
    "unicorn/numeric-separators-style": 0,
    "unicorn/consistent-function-scoping": 0,
    "unicorn/no-array-for-each": 0
  }
}
